.ui.card > .image {
  background-color: white !important;
}
.carousel-border{
  margin-top:5% !important;
  box-shadow: 0 0 7px 0 rgb(0 0 10% / 14%) !important;
}

.ui.card > .content {
  border-top: none !important;
  box-shadow: none;
}

.ui.card {
  box-shadow: none !important;
}

.ui.card:hover {
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 20%) !important;
 
}
