.cart-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 5%;
}

.cart-gallery .ui.card {
  width: 340px;
  align-items: center;
  justify-content: center;
  border: 1px solid salmon;
}

.rating-btn {
  background-color: limegreen !important;
  border: none;
  outline: none;
  padding: 7px 18px;
  border-radius: 4px;
  color: #fff;
  width: 23%;
  display: flex;
}
.cart-item {
  width: 80%;
  height: 90%;
}

.grid-item-Image {
  height: 40%;
  width: 35%;
}
.cart-description {
  width: 90%;
  margin-top: 5%;
}
.btn-container {
  display: flex;
  margin-top: 2%;
}
