.page-title {
  padding-top: 5%;
}

.first-para {
  font-size: small;
}
.input-field {
  margin-top: 25%;
}
.ui.medium.image{
  height: auto;
}
.login-btn-class {
  margin-top: 15%;
}
.login-btn {
  width: 100%;
  background-color: tomato !important;
  color: white !important;
}

.ui.modal>.content>.image+.description {
  flex: 0 1 auto;
  min-width: '';
  width: 320px !important;
  padding-left: 4em;
}
.ui.medium.image {
  height: auto;
  
}
.signup-firstName {
  width: 45%;
}
.signup-lasttName {
  width: 45%;
  margin-left: 5%;
}
.signup-btn {
  width: 100%;
  margin-top: 5% !important;
  background-color: tomato !important;
  color: white !important;
}

.second-para {
  padding-top: 10%;
  font-size: small;
  width: 60;
  justify-content: space-evenly;
  text-align: center;
}
