.Home:hover,
.Labtest:hover,
.Contact:hover,
.Care:hover,
.Logout:hover,
.login:hover,
.signup:hover {
  color: crimson !important;
}
.ui.secondary.pointing.menu .active.item {
  color: crimson !important;
}
.Cart{
  color:"black" !important;
}