.footer-container {
    background-color: indianred !important;
}

.style__copyright {
    color: #f2f8fb;
    opacity: 0.6;
    margin: 12px;
}

.social-icons {
    animation: back-to-docs 1.5s ease-in-out infinite;
    z-index: 6;
}