.footer-container {
  background-color: mediumseagreen !important;
}

.style__copyright {
  color: #f2f8fb;
  opacity: 0.6;
  margin: 12px;
}



i.circular.icon:hover {
  background-color: crimson;
}
