.ui.fixed.menu, .ui[class*="top fixed"].menu {
    top: 7% !important;
    left: 0;
    right: auto;
    bottom: auto;
}

.ui.inverted.menu {
    border: 0 solid transparent;
    background: #1b1c1d;
    box-shadow: none
}